html {
  /* background-color: black; */
}

h1, h3 {
  text-align: center;
}

h3{
  font-size: 1.4em;
  line-height: 0px;
}

h4, h5 {
  line-height: 5px;
  margin-left: 20px;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}


.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

/**********************************
********   Sidebar CSS    *********
**********************************/

.sideBar {
  width: 250px;
  height: 602px;
  border: 2px solid black;
}

.miscButtons, .moveButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.button {
  background-color: grey;
  width: 246px;
  margin: 2px;
  height: 40px;
}

.button:hover {
  background-color: #C3C3C2;
}

.sideBySide {
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.sideBySide > .button {
  width: 123px;
}

.miscButtons > .button {
  width: 246px;
  margin: 2px;
  height: 40px;
}

.moveButtons > .sideBySide {
  height: 44px;
}

/**********************************
*****   Map Container CSS   *******
**********************************/

.mainSection {
  width: 750px;
  height: 450px;
  border: 2px solid black;
  border-bottom: 0px;
  border-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

/**********************************
******   Combat Text CSS    *******
**********************************/

.bottomSection {
  width: 750px;
  height: 150px;
  border: 2px solid black;
  border-left: 0px;
  overflow-y: auto;
}

#textBox {
  padding: 20px 30px;
}

/**********************************
**********    Map CSS     *********
**********************************/

.square {
  width: 50px;
  height: 50px;
  /* background-color: #EBD81F; */
}

.water {
  background-color: #00B2FF;
}

.plains {
  background-color: #17FF00;
}

.forest {
  background-color: #135A0C;
}

.mountains{
  background-color: #525A51;
}

.desert {
  background-color: #EBD81F;
}

.towns {
  background-color: #000000;
}
